.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/supermarket_aisle_1141999792.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 400px;
  }
  
  .login-icon {
    font-size: 60px;
    margin-bottom: 20px;
  }
  
  .login-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .login-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-btn:hover {
    background-color: #45a049;
  }
  
  .login-links {
    margin-top: 20px;
  }
  
  .login-links a {
    color: #ccc;
    text-decoration: none;
  }
  
  .login-links a:hover {
    text-decoration: underline;
  }
  
  .popup-content {
    background-color: #f44336;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  